






.template{
    
    background-color:#FBEEC1;
    display:flex;
  padding-top: 40px;
}

.hat{

    margin-left: 50px;
    height:200px;
}

.bluee{
   
    width: 900px;
    height: 200px;
    margin-left: 20px;
 
}
.text{
    position: absolute;
    left: 475px;
}

.text1{
  
    font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 38px;
margin-bottom: 0px;
margin-top: 50px;;
/* identical to box height */



/* primary text */

color: #1E272E;

}
.text2{

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
   
    
    margin-top: 0px;
    /* secondary text */
    
    color: #566474;
}
.bgbtn{
    position: absolute;
    font-family: cursive;
    width: 110px;
height: 44px;
color: white;
right:95px;
top: 160px;
background: #1E272E;
border-radius: 5px;


}