






.Myapicard .text{

}
.Myapicard .Myapiimg{
    height: 190px;
    width:288px;
}
.Myapicard-container{
    display: flex;
    flex-direction: row;
  
  justify-content: space-around;
  flex-flow: wrap;
}
.Myapiapii{
    margin:50px;
    
}
.Myapicard{
    margin: 12px 12px;
    transform: translateX(0px);
    transition:0.5s all;
    box-shadow: 2PX 2PX 10PX #BC9863;
  
}
.Myapicard:hover{
    box-shadow:6px 6px 40px 10px #BC9863;
    tranform:translateX(20px);
    cursor: pointer;
}