






.head1{
    position: absolute;
width: 224px;
height: 31px;
left: 100px;
top: 690px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
letter-spacing: -0.02em;

/* primary text */

color: #1E272E;

}
.head2{
    position: absolute;
width: 106px;
height: 31px;
left: 428px;
top: 690px;

font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
letter-spacing: -0.02em;

/* primary text */

color: #1E272E;

}
.head3{
    position: absolute;
    width: 106px;
    height: 31px;
    left: 741px;
    top: 690px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
    /* primary text */
    
    color: #1E272E;
}
.head4{
    position: absolute;
    width: 106px;
    height: 31px;
    left: 1049px;
    top: 690px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.02em;
    
    /* primary text */
    
    color: #1E272E;
    
}
.text1{
    position: absolute;
width: 291px;
height: 42px;
left: 100px;
top: 732px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
letter-spacing: -0.02em;

/* secondary text */

color: #566474;    
}
.text2{

 

    position: absolute;
    width: 291px;
    height: 42px;
    left: 428px;
    top: 732px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    
    /* secondary text */
    
    color: #566474;
    

}
.text3{
    position: absolute;
    width: 291px;
    height: 42px;
    left: 741px;
    top: 732px;
    
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    
    /* secondary text */
    
    color: #566474;
    

}
.text4{
    position: absolute;
width: 291px;
height: 42px;
left: 1049px;
top: 732px;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
letter-spacing: -0.02em;

/* secondary text */

color: #566474;
    
}
.half{
    position: absolute;
width: 1240px;
height: 219.69px;
left: 100px;
top: 814px;
}