










.Dimg{
    height: 180px;
    width: 250px;
}
.Da1{
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
letter-spacing: -0.02em;
padding-top: 35px;
padding-bottom: 35px;
margin: 0;
color: #BC9863;

margin-left: 15px;

}

.Dcard{
    display: flex;
     flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
  
}

.Dtxt{
    width:250px;
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
letter-spacing: -0.02em;

/* secondary text */

color: #566474;
}



.Dhead{
    font-family: DM Sans;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
letter-spacing: -0.02em;

/* primary text */

color: #1E272E;

}
.Dcard-container{
    margin:0 65px;
}

.Dcar{
    margin: 12px 0;
  transform: translateX(0px);
  transition:0.5s all;
  box-shadow: 2PX 2PX 10PX #BC9863;

}
.Dcar:hover{
    box-shadow:6px 6px 40px 10px #BC9863;
    tranform:translateX(20px);
    cursor: pointer;

}

.Dbody{
    background-color: #FBEEC1;
    padding: 0;
    margin: 0;
}
