









.matter .m1{
    position: absolute;
width: 400px;
height: 58px;
left: 557px;
top: 195px;
font-family: Bebas Neue;
font-style: normal;
font-weight: normal;


/* primary text */

color: #1E272E;

}